@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from colorlib.com/polygon/admindek/default/sample-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Dec 2019 16:10:10 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
@await Component.InvokeAsync("_LayoutHeadComponentPartial")
<body>

    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            @await Component.InvokeAsync("_LayoutNavbarComponentPartial")


            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    
                    @await Component.InvokeAsync("_LayoutSidebarComponentPartial")

                    <div class="pcoded-content">

                        <div class="page-header card">
                            <div class="row align-items-end">
                                @RenderBody()
                            </div>
                        </div>


                    </div>

                    <div id="styleSelector">
                    </div>

                </div>
            </div>
        </div>
    </div>




    @await Component.InvokeAsync("_LayoutScriptComponentPartial")
</body>

<!-- Mirrored from colorlib.com/polygon/admindek/default/sample-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Dec 2019 16:10:10 GMT -->
</html>
